<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">

	<test name="Test" enabled="true">
		<classes>
			<class name="com.test.demo.testcases.CaseDemo" />
		</classes>
	</test>
	
	<listeners>
		<listener class-name="com.test.demo.extentReports.TestngListener" /> 
		<listener class-name="com.test.demo.extentReports.RetryListener" /> 
	    <listener class-name="com.test.demo.extentReports.ExtentTestNGIReporterListener" />     
	</listeners>

</suite>
